---
import ContentTags from "../components/ContentTags.astro";
import IndexPageLayout from "./IndexPageLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, startDate, tags, canonical} = frontmatter;
---

<IndexPageLayout title={title} description={description} image={image} subTitle={title} canonicalURL={canonical}>
  <div class="w-full max-w-full justify-center flex flex-col">
    {tags &&
      <div class="pb-4 mx-auto">
        <ContentTags tags={tags}/>
      </div>}

    {
      startDate &&
      <div class="text-sm text-light my-2 sr-only mx-auto">
        {startDate}
      </div>
    }

    <article class="prose prose-lg mx-auto dark:prose-invert max-w-full md:max-w-prose overflow-hidden">
      <div class="mdx-content w-full max-w-full overflow-hidden">
        <slot/>
      </div>
    </article>
  </div>
</IndexPageLayout>